<div class="container footer">
    <div class="row section">
        <div class="col col-md-3 col-sm-6 col-12">
           <ul>
               <li><strong>8PATRO</strong></li>
               <li><a href="/vize/">Vize</a></li>
               <li><a href="/blog/">Blog</a></li>
               <li><a href="/nemovitosti/">Nemovitosti</a></li>
           </ul>
        </div>
        <div class="col col-md-3 col-sm-6 col-12">
            <ul>
                <li><strong>INVESTICE</strong></li>
                <li><a href="/investice/">Jak to funguje</a></li>
                <li><a href="/investice/">Zajištění investice</a></li>
            </ul>
        </div>
        <div class="col col-md-3 col-sm-6 col-12">
            <ul>
                <li><strong>DOKUMENTACE</strong></li>
                <li><a href="/obchodni-podminky/">Obchodní podmínky</a></li>
                <li><a href="/registrace-cnb/">Registrace u ČNB</a></li>
            </ul>
        </div>
        <div class="col col-md-3 col-sm-6 col-12">
            <ul>
                <li><strong>KONTAKTY</strong></li>
                <li><a href="https://www.facebook.com/osmepatro" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                <li><a href="mailto:info@osmepatro.cz?subject=Chci investovat do 8PATRA!"><i class="fas fa-envelope"></i> Email</a></li>   
            </ul>
        </div>
    </div>
    <div class="row section">
        <div class="col col-md-12 text-center">
            <a href="/">
                <img src="/assets/osme-patro-logo.svg" height="30" alt="Osmé patro">
            </a>
        </div>
    </div>
</div>


